<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Edit User</title>
</head>
<body>
    <form action ="/edit_user" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first_name" value="{{request.session.first}}">
        Last Name: <input type="text" name="last_name" value="{{request.session.last}}">
        Email: <input type="text" name="email" value="{{request.session.email}}">
        <input type="submit" value="submit">
    </form>
</body>
</html>